// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

h4 {
    font-size: 1.2em;
}

.lead-text {
    font-size: 1.1rem;
}

nav{
    -webkit-box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.58);
    box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.58);
}

.hero-bg {
    background: linear-gradient(to bottom, rgba(103, 103, 103, 0), #0A1021), url("/img/security-hero2.jpg") top center;
    background-size: cover;
    padding-bottom: 100px !important;
}

.hero-padding {
    padding-top: 225px;
}

.hero {

    h1 {
        margin-bottom: 21px;
    }

    @media only screen and (max-width: 992px) {
        h1 {
            font-size: 2em;
        }
    }

    @media only screen and (min-width: 992px) {
        h1 {
            font-size: 5em;
        }
    }

    h2 {
        font-size: 18px;
    }

    .hero-cta {
        margin-top: 100px;
        font-size: 24px;
    }
}

.hero-bg {
    height: 100vh;
    background-size: cover;
    padding-bottom: 100px !important;
}

section {
    padding: 175px 25px;
}

#history-section {
    background: #0A1021;
}

#people-section,
#service-section {
    h3 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 50px;
    }

    @media only screen and (max-width: 992px) {

        h3 {
            padding-top: 75px;
        }
    }
}

#service-section {
    background: #0A1021;
    color: #fff;

    .services-row {
        padding-top: 75px;
        padding-bottom: 75px;

        @media only screen and (min-width: 991px) {

            .service-text-left {
                padding-left: 80px;
                padding-right: 60px;
            }

            .service-text-right {
                padding-left: 60px;
                padding-right: 80px;
            }
        }
    }
}

#contact-section {
    background: #fff;
}

#contact-section .contact-details {
    a {
        color: #0A1021;
    }

    a:hover {
        opacity: .7;
        text-decoration: none;
    }
}

#careers-section {
    background: #384056;
}

footer {
    background: #0A1021;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;

    a {
        color: #fff;
    }

    a:hover {
        opacity: .7;
        text-decoration: none;
    }
}
